# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
.vs
.vscode

# Android Build files
*.apk
*.obb

# Visual Studio files
*.cachefile
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
*.v11
*.v12
*.VC.db
[C|c]onfig.ini

# Folder to exclude
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Builds/
ipch/
Library/
obj/
Temp/
Data Files/