# TESUnity Configuration File

[Global]
PlayMusic = True
MorrowindPath = C:\Users\demon\Documents\Unity\Demonixis\TESUnity\Data Files

[Rendering]
RenderPath = 1
Shader = Bumped

[Lighting]
AnimateLights = False
SunShadows = True
LightShadows = True
RenderExteriorCellLights = False

[Effects]
AntiAliasing = False
AmbientOcclusion = False
Bloom = True
WaterBackSideTransparent = False

[VR]
FollowHeadDirection = True
DirectModePreview = False

[Debug]
CreaturesEnabled = True

