# TESUnity Configuration File

[Global]
PlayMusic = True
MorrowindDataPath = D:\Jeux\SteamLibrary\steamapps\common\Morrowind\Data Files

[Rendering]
RenderPath = Deferred
Shader = Standard
CameraFarClip = 500
# 0 = Normal / 1 = Reflective / 2 = Refractive
WaterQuality = 0

[Lighting]
AnimateLights = True
SunShadows = True
LightShadows = False
RenderExteriorCellLights = True
DayNightCycle = True
GenerateNormalMap = True
NormalGeneratorIntensity = 0.75

[Effects]
# 0 = Disabled / 1 = FXAA / 2 = SMAA (not supported in VR) / 3 = TAA
AntiAliasing = 3
# 0 = Disabled / 1 = Low / 2 = Medium / 3 = High
PostProcessQuality = 3
WaterBackSideTransparent = False

[VR]
FollowHeadDirection = True
RoomScale = False
ForceControllers = True
XRVignette = False

[Debug]
CreaturesEnabled = False
